# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Django
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# React/Vite build output
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db